<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>

  <nav class="blue">
    <div class="nav-wrapper">
      <a style="position: relative; height:100%" href="#" class="brand-logo center">
        <img style="height: 200%; transform: translateY(-50%); position: absolute; top: 55%;" src="http://file-lb-instantmagazine.netdna-ssl.com/magazine/10328v1.5-ctOKxUyqLBy83ftXaNC8RQ/images/--600--logo_windesheim_flevoland_rgb_web_600pxheight.a5dc14796c29.png"> 
      </a>
    </div>
  </nav>

  <div class="container">
    <div ng-app="myApp" ng-controller="myCtrl">
      <ul class="collection" ng-repeat="x in response">
        <li class="collection-item avatar">
          <img src='{{x["Foto 1"]}}' class="circle">
          <span class="title">{{x["Titel kunstwerk"]}}</span>
          <p>{{x["Voornaam Kunstenaar"]}} {{x["Achternaam Kunstenaar"]}}</p>
          <a href="#!" class="secondary-content">
            <i class="material-icons">{{x["Adres"]}}</i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="./controllers/main.js"></script>
</body>

</html>